*{
    margin: 0;
    padding: 0;
    color: white;
}

body {
    background-image: url(ink.gif);
    height: 100%;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
}

h1::selection{
    background: black;
}

h1{
    font-family: 'Roboto Mono',sans-serif;
    font-size: 30px;
    height: 20px;
    text-align: center;
    color: white;
    mix-blend-mode: overlay;
    text-shadow: 0px 5px rgba(0,0,0,1);
    margin-top: 530px;
}

.social-icons{
    font-size: 1.7em;
    text-shadow: 0px 5px rgba(0,0,0,1);
    mix-blend-mode: overlay;
    padding-left: 906px;
    padding-top: 30px;
}
